# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Notebooks checkpoints
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Virtual environments
venv/
env/
ENV/
.venv
.python-version
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
